    <header>
      <center>
        <h3> 
          <% if @conversation.sender = current_user %>
          <%= @conversation.recipient.full_name %>
          <% else %>
            <%= @conversation.sender.full_name %>
          <% end %>
        </h3>
      <center>
    </header>

        <div id="main inbox">

          <div class="container inbox">
            <section id="users">
              <center>
              <ul class="posts scrollable">      
                <% @messages.each do |message| %>
                <% if !message.user_id.nil? %>
                <!-- Posts List -->
                <li>
                  <article>
                    <header>
                      <% if message.user == current_user %>
                      <p class="pull-right message_time">
                        <%= message.formatted_updated_at %>
                      </p>
                      <br>
                      <p class="pull-right message_body_current_user">
                        <%= message.body %>
                      </p>
                        <% else %>
                      <p class="pull-left message_time">
                        <%= message.formatted_updated_at %>
                      </p>
                      <br>
                      <p class="pull-left message_body_other_user">
                        <%= message.body %>
                      </p>
                        <% end %>
                      </p>
                    </a>
                  </header>
                </article>
              </li>
              <% end %>
              <% end %>
            </ul>
          </center>

        <%= form_for([@conversation, @message], html: {class: 'ui reply form '}) do |f| %>
        <div class="panel-footer">
          <div class="input-group">
           <%= f.text_area :body, class: 'inbox_form_field ', rows: 2, placeholder: "Type your message...",id:"btn-input", required: true %>
           <%= f.text_field :user_id, value: current_user.id, type: 'hidden' %>
             <%= f.submit 'Send', class: 'inbox_form_button ', id:'btn-chat' %>
         </div>
       </div>
          </section>

       <% end %>
        </div>

     </div>

