 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

  <title>Im' In</title>
  <%= stylesheet_link_tag "landing_page" %>
  <%= javascript_include_tag 'landing_page' %>
  <%= javascript_include_tag 'chat' %>
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'jquery.poptrox.min' %>
  <%= csrf_meta_tags %>

  <!-- shiv here -->

</head>


<body class="landing_page is-loading">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <section id="main">

      <h2>Sign up</h2>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div >
        <%= f.label :your_school %>
        <!-- <%= f.autocomplete_field :school_id, autocomplete_school_name_users_path %> -->
        <%= f.select(:school_id, options_for_select([['Science Po Paris', 1], ['New York University', 2], ['Berkeley', 3], ['Columbia', 4], ['McGill', 5]], selected: nil, required: true)) %>
      </div>

      <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, :autofocus => true , required: true %>
      </div>

      <div>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, :autofocus => true, required: true %>
      </div>

      <div>
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, required: true %>
      </div>

      <div>
        <%= f.label :username %>
        <%= f.text_field :username, :autofocus => true, required: true %>
      </div>

      <div><%= f.label :password, required: true %>
        <%= f.password_field :password %>
      </div>

      <div><%= f.label :password_confirmation, required: true %>
        <%= f.password_field :password_confirmation %></div>
        <br>
        <div><%= f.submit "Sign up" %></div>
        <% end %>

        <hr />
        <%= render "devise/shared/links" %>
        <br>
      </section>

    <!-- Footer -->
    <footer id="footer">
      <ul class="copyright">
        <li>&copy; Apostell</li>
        <!-- <li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
      </ul>
    </footer>

    </div>

    <!-- Scripts -->
    <!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
    <script>
    if ('addEventListener' in window) {
      window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
      document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
    </script>

  </body>