<div class="options_navbar">
        <label for="show_filters" class="show_filters">Show Filters</label>
        <input type="checkbox" id="show_filters" role="button">
      </div>
          <!-- Three -->
          <section id="" class="flight_details">
            <% @flights.each do |flight| %>
            <center><h3><%= flight.user.full_name %></h3></center>
            <p><%= flight.content %></p>
            <div class="row">
              <div class="">

                  <div class="row col-md-6">

                <ul class="labeled-icons">
                  <li>    
                    <a href="/created_flights/<%= flight.user.id %>" class="feed_image" >
                      <%= image_tag(flight.user.avatar) %>
                    </a>
                  </li>
                  <li>
                    <h3 class="icon fa-plane"><span class="label">Departure</span></h3>
                    <%= flight.departure %><br/>
                  </li>
                  <li>
                    <h3 class="icon fa-home"><span class="label">Arrival</span></h3>
                    <%= flight.destination %><br/>
                  </li>
                  <li>
                    <h3 class="icon fa-calendar"><span class="label">Email</span></h3>
                    <a href="#"><%= Flight.format_datetime(flight.date) %></a>
                  </li>

                  <li><a><input type="submit" value="Send Message" /></a></li>
                </ul>
                  </div><br>
              </div>

              <div class="4u$ 12u$(small)">
                    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x300&sensor=false&zoom=4&markers=#{flight.latitude}%2C#{flight.longitude}" %>
              </div>
            </div>
          </section>
<% end %>


      <!-- Scripts -->
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>
