<!-- <div class="options_navbar">
        <label for="show_filters" class="show_filters">Show Filters</label>
        <input type="checkbox" id="show_filters" role="button">
      </div> -->
      <!-- Three -->


      <section id="intro">
        <!-- <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a> -->
        <header>
          <center>
            <h2>Requests</h2>
            <% if @flights.present? %>            
            <p>Need Help With Sending A Package?! Here's Who's Traveling</p>
            <% else %>
            <br>
            <br>
            <h3>Sorry! No Trips To Show You At The Moment! Try Adding More Friends</h3>
            <% end %>
          </center>
        </header>
      </section>


      <section id="" class="flight_details">
        <% @flights.each do |flight| %>

        <article class="post">
          <header>
            <div class="title mapContainer">
              <p class="icon fa-home">From: <%= flight.departure %></p>
              <h3 class="icon fa-plane">To: <%= flight.destination %> </h3>
              <div class="4u$ 12u$(small)">
                <%= image_tag "http://maps.google.com/maps/api/staticmap?size=500x250&sensor=false&zoom=4&markers=#{flight.latitude}%2C#{flight.longitude}", class:"map" %>
              </div> 
            </div>
            <div class="meta">
              <p class="published icon fa-calendar"> <%= Flight.day(flight.date) %></p>
              <p class=" icon fa-clock-o"> <%= Flight.time(flight.date) %></p>
              <a href="#" class="author">
                <span class="name">
                  <%= flight.user.first_name %>
                </span>
              </a> 
              <p class="author">
                <span class="">
                  <%= image_tag(flight.user.avatar) %>
                </p> 
              </div>
            </header>
            <footer>
              <ul class="actions">
                <p><%= flight.content %></p> 
                <li><%= button_to "Contact #{flight.user.first_name}", { action: "create",method: :post, controller: 'conversations', class: 'icon fa-envelope',sender_id: current_user.id, recipient_id: flight.user.id} %></li>
              </ul>
              <ul class="stats">
                <!-- <li><a href="#">General</a></li> -->
                <!-- <li><a href="#" class="icon fa-star fa-2x">28</a></li> -->
                <!-- <li><a href="#" class="icon fa-comment">128</a></li> -->
              </ul>
            </footer>
          </article>

        </section>
        <% end %>

        
        <% if @flights.present? %>

      <div class="flickr_pagination">
        <div class="page_info">
          <%= page_entries_info @flights %>
        </div>
        <%= will_paginate @flights, :container => false %>
      </div>
        <% end %>

        <!-- Scripts -->
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>
