
<head>
  <%= stylesheet_link_tag "user_show" %>
  <%= stylesheet_link_tag "options_navbar" %>
  <%= javascript_include_tag 'user_show' %>
  <%= javascript_include_tag "feed" %>
</head>

<body id="top">

  <!-- Header -->
  <header id="header">
      <%= render 'users/user_sidebar' %>
    </header>

    <div id="main">
      <%= render 'flights/flights_feed' %>
    </div>
    </body>

<br />

<%= link_to 'New Flight', new_flight_path %>
