
<head>
  <%= stylesheet_link_tag "user_show" %>
  <%= stylesheet_link_tag "options_navbar" %>
  <%= javascript_include_tag 'user_show' %>
  <%= javascript_include_tag "feed" %>
</head>

<body id="top">

  <!-- Header -->
  <header id="header">
      <%= render 'users/user_sidebar' %>
    </header>

    <div id="main">

      <div class="options_navbar">
        <label for="show_filters" class="show_filters">Show Filters</label>
        <input type="checkbox" id="show_filters" role="button">
      </div>
          <!-- Three -->
          <section id="" class="flight_details">
            <% @flights.each do |flight| %>
            <h2><%= flight.user.full_name %></h2>
            <p><%= flight.content %></p>
            <div class="row">
              <div class="8u 12u$(small)">
                  <div class="row uniform 50%">
                    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x300&sensor=false&zoom=4&markers=#{flight.latitude}%2C#{flight.longitude}" %>
                  </div><br>
              </div>

              <div class="4u$ 12u$(small)">
                <ul class="labeled-icons">
                  <li>
                    <%=image_tag(flight.user.avatar) %>
                  </li>
                  <li>
                    <h3 class="icon fa-plane"><span class="label">Departure</span></h3>
                    <%= flight.departure %><br/>
                  </li>
                  <li>
                    <h3 class="icon fa-home"><span class="label">Arrival</span></h3>
                    <%= flight.destination %><br/>
                  </li>
                  <li>
                    <h3 class="icon fa-calendar"><span class="label">Email</span></h3>
                    <a href="#"><%= Flight.format_datetime(flight.date) %></a>
                  </li>

                  <li><a><input type="submit" value="Send Message" /></a></li>
                </ul>
              </div>
            </div>
          </section>
<% end %>


      <!-- Scripts -->
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>

    </body>
<h1>Listing flights</h1>

<table>
  <tr>
    <th>Content</th>
    <th>User</th>
    <th>Picture</th>
    <th>Public</th>
    <th>Departure</th>
    <th>Destination</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flights.each do |flight| %>
  <tr>
    <td><%= flight.content %></td>
    <td><%= flight.user %></td>
    <td><%= flight.picture %></td>
    <td><%= flight.public %></td>
    <td><%= flight.departure %></td>
    <td><%= flight.destination %></td>
    <td><%= flight.date %></td>
    <td><%= link_to 'Show', flight %></td>
    <td><%= link_to 'Edit', edit_flight_path(flight) %></td>
    <td><%= link_to 'Destroy', flight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flight', new_flight_path %>
