
<div id="main">
  <section id="intro">
    <!-- <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a> -->

    <% if @flights.present? %>   
    <header>
      <center>
        <h2>Trips</h2>         
        <p>Need Help With Sending A Package?! Here's Who's Traveling</p>
      </center>
    </header>

    <header class="filter_field">
      <center>
        <%= form_tag flights_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], id: 'flights_search',placeholder: "What city are you looking for?" %><br>
        <%= submit_tag "Search", :name => nil %>

      </center>
    </header>
    <% end %>

    <% elsif !@search.present?%>
    <header>
      <center>
        <h2>Trips</h2>     

    <header class="filter_field">
      <center>
        <%= form_tag flights_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], id: 'flights_search',placeholder: "What city are you looking for?" %><br>
        <%= submit_tag "Search", :name => nil %>

      </center>
    </header>
        <% end %>
        <br>
        <br>
        <h3>Oops! No Trips To Show You.<br><br>
        Try Adding More Friends or Adding A New Trip </h3>    
      </center>
    </header>


    <% else %>
    <header>
      <center>
        <h2>Trips</h2>  

        <header class="filter_field">
          <center>
            <%= form_tag flights_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], id: 'flights_search',placeholder: "What city are you looking for?" %><br>
            <%= submit_tag "Search", :name => nil %>

          </center>
        </header>
        <% end %>
        <br>
        <br>
        <h3>Sorry! No Trips Found for "<%= @search %>"! <br>Try Adding More Friends or Adding A New Trip</h3>
      </center>
    </header>

    <% end %>
  </section>
  <%= render 'flights/flights_feed' %>

</div>

<br />

