    <header>
      <center>
        <h3 class="icon fa-envelope-o fa-2x"> inbox </h3>
        <center>
        </header>

        <div id="main">

          <div class="container">
            <section id="users">
              <ul class="posts">      
                <% @conversations.each do |conversation| %>
                <% if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id %>
                <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
                <% else %>
                <% recipient = User.find(conversation.sender_id) %>
                <% end %>
                <% end %>
                <!-- Posts List -->
                <li>
                  <article>
                    <header>

                      <a href="<%= conversation_messages_path(conversation) %>">
                        <h3>
                          <%= recipient.full_name %>
                        </h3>
                        <p>
                          <%= conversation.formatted_updated_at %><br>
                          <%= conversation.last_message_body.truncate(40) %>
                        </p>
                      </a>
                    </header>
                    <a href="#" class="image"><%=image_tag(recipient.avatar) %></a>
                  </article>
                </li>
                <% end %>
              </ul>
            </section>
          </div>
        </div>