<% if current_user %>

<!-- THIS IS THE PAGE "CONNECTIONS" THAT SHOW ALL THE USERS -->
<head>
  <%= stylesheet_link_tag "main" %>
</head>

<!-- Sidebar -->

<!-- Intro -->
<section id="intro">

  <!-- <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a> -->
  <header>
    <center>
      <h2>Friends</h2>

      <% if current_page?(users_path) %>
      <p> Your Current Friends</p>
        <%= link_to "Go To Pending Requests", users_find_path %><br><br>

      <%= form_tag users_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], id: 'users_search',placeholder: "Search Friends by first name, last name or email" %><br>
      <%= submit_tag "Search", :name => nil %>
      <br><br>
      <% end %>

      <% else %>

      <p>Your Pending Requests</p>
        <%= link_to "Go To Current Friends", users_path %><br><br>

      <%= form_tag users_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], id: 'users_search',placeholder: "Search Friends by first name, last name or email" %><br>
      <%= submit_tag "Search", :name => nil %>
      <br><br>
      <% end %>

      <% end %>

<!--     <%= link_to "Invite Facebook Friends",
    "http://www.facebook.com/dialog/send?
    app_id=1051690404882304
    &link=www.apostell.com
    &redirect_uri=https://facebook.com",
    target: '_blank',
    class:"button big" %> -->

  </center>
</header>
</section>
<section id="users">
  <%= render "users" %>
</section>

<% end %>