<% if current_user %>

<!-- THIS IS THE PAGE "CONNECTIONS" THAT SHOW ALL THE USERS -->
<head>
  <%= stylesheet_link_tag "main" %>
</head>

<!-- Sidebar -->
<section id="">

  <!-- Intro -->
  <section id="intro">
    <!-- <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a> -->
    <header>
      <center>
      <h2>Community</h2>
      <p>Find Travelers</p>
    </center>
    </header>
  </section>

  <% if !@users.any? %>

  <% else %>
  <section>
    <ul class="posts">      
      <% @users.each do |user| %>
      <!-- Posts List -->
      <li>
        <article>
          <header>
            <h3>
              <a href="#">
                <%= user.full_name %>
              </a>
            </h3>
            <p>
              <%= user.school.name %>
            </p>
            <% if current_user.follow(current_user) %>
            <p>
            <%= button_to "Unfollow", { action: "create",method: :post, controller: 'conversations', class: 'icon fa-envelope follow',sender_id: current_user.id, recipient_id: user.id} %>
          </p>
          <% else %>
            <%= button_to "Follow", { action: "create",method: :post, controller: 'conversations', class: 'icon fa-envelope',sender_id: current_user.id, recipient_id: user.id} %>
          <% end %>
          </header>
          <a href="#" class="image"><%=image_tag(user.avatar) %></a>
        </article>
      </li>
      <% end %>
    </ul>
  </section>
  <% end %>

  <% end %>