<% if current_user %>

<!-- THIS IS THE PAGE "CONNECTIONS" THAT SHOW ALL THE USERS -->
<head>
  <%= stylesheet_link_tag "main" %>
</head>

<!-- Sidebar -->

  <!-- Intro -->
  <section id="intro">

    <!-- <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a> -->
    <header>
      <center>
      <h2>Community</h2>
      <p>Find Travelers</p>

<%= form_tag users_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], id: 'users_search',placeholder: "Search by first name,last name or email" %><br>
    <%= submit_tag "Search", :name => nil %>

<% end %>
    </center>
    </header>
  </section>
  <section id="users">
    <%= render "users" %>
  </section>

  <% end %>