
<head>
  <%= stylesheet_link_tag "user_show" %>
  <%= stylesheet_link_tag "options_navbar" %>
  <%= javascript_include_tag 'user_show' %>
  <%= javascript_include_tag "feed" %>
</head>

<body id="top">

  <!-- Header -->
  <header id="header">
      <%= render 'users/user_sidebar' %>
    </header>

    <div id="main">

<%= render 'layouts/options_navbar' %>

      <% if @events %>
      <% @events.each_slice(2) do |e|%>
      <div class="events_view">
        <%= render "events/invited_events_feed", events: e %>
      </div>
      <% end %>
      <% else %>
      <% @user.invited_events.each_slice(2) do |e|%>
      <div class="events_view">
        <%= render "events/invited_events_feed", events: e %>
      </div>
      <% end %>
      <% end %>


      </div>


      <!-- Scripts -->
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
      <script src="assets/js/main.js"></script>

    </body>