<center class="form">
<section id="sidebar">
  <%= form_for(@request, accept: 'image/jpeg,image/gif,image/png', :html => {multipart: true}) do |f| %>

  <div class="row uniform">
    <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
        <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field 12u 12u$(small)">
      <%= f.label :what_city_would_you_like_to_send_from_? %><br />
      <%= f.text_field :departure, required: true %>
    </div>
    <div class="field 12u 12u$(small)">
      <%= f.label :what_city_would_you_like_to_send_to__?%><br />
      <%= f.text_field :destination, required: true %>
    </div>
    <div class="field 12u 12u$(small)">
      <%= f.label :when_would_you_like_to_send_your_package_by_? %><br />
      <%= f.datetime_select :date, required: true %>
    </div>
    <div class="field 12u 12u$(small)">
      <%= f.label :optional_comment %><br />
      <%= f.text_area :content, rows:3 %>
    </div>
    <div class="field 12u 12u$(small)">
      <%= f.label :who_can_see_this_flight_? %><br />
      <%= f.select (:public),options_for_select([["Only my friends", "0"], ["Anyone", "1"]]),required: true %>
    </div>    
<!--     <div class="field 12u 12u$(small)">
      <%= f.label :add_an_image %><br />
      <%= f.file_field :picture, :autofocus => true %>
    </div><br> -->
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  <% end %>
</section>
</center>
