
<div id="main">
  <section id="intro">
    <!-- <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a> -->

    <% if @requests.present? %>   
    <header>
      <center>
        <h2>Requests</h2>         
        <p>Below is a list of all friends needing help with a package.</p>
      </center>
    </header>

    <header class="filter_field">
      <center>
        <%= form_tag requests_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], id: 'requests_search',placeholder: "Search requests by city of departure or destination" %><br>
        <%= submit_tag "Search", :name => nil %>

      </center>
    </header>
    <% end %>

    <% elsif !@search.present?%>
    <header>
      <center>
        <h2>Requests</h2>     

    <header class="filter_field">
      <center>
        <%= form_tag requests_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], id: 'requests_search',placeholder: "Search requests by city of departure or destination" %><br>
        <%= submit_tag "Search", :name => nil %>

      </center>
    </header>
        <% end %>
        <br>
        <br>
        <h3>Welcome to the Request Feed.<br> Friends who need help with a package will show up here.<br><br>
        </h3>     
      </center>
    </header>
    <% else %>
    <header>
      <center>
        <h2>Requests</h2>  

    <header class="filter_field">
      <center>
        <%= form_tag requests_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], id: 'requests_search',placeholder: "Search requests by city of departure or destination" %><br>
        <%= submit_tag "Search", :name => nil %>

      </center>
    </header>
    <% end %>
        <br>
        <br>
        <h3>Sorry! No Requests Found for "<%= @search %>"! <br>Try Modifying Your Search</h3>
      </center>
    </header>

    <% end %>
  </section>

  <%= render 'requests/requests_feed' %>
</div>

<br />

