
<div id="main">
  <section id="intro">
    <!-- <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a> -->

    <% if @requests.present? %>   
    <header>
      <center>
        <h2>Requests</h2>         
        <p>Traveling?! Find Out Who Needs Help With A Package</p>
      </center>
    </header>

    <header class="filter_field">
      <center>
        <%= form_tag requests_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], id: 'requests_search',placeholder: "What city are you looking for?" %><br>
        <%= submit_tag "Search", :name => nil %>

      </center>
    </header>
    <% end %>

    <% elsif !@search.present?%>
    <header>
      <center>
        <h2>Requests</h2>     

    <header class="filter_field">
      <center>
        <%= form_tag requests_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], id: 'requests_search',placeholder: "What city are you looking for?" %><br>
        <%= submit_tag "Search", :name => nil %>

      </center>
    </header>
        <% end %>
        <br>
        <br>
        <h3>Oops! No Requests To Show You.<br><br>
        Try Adding More Friends or Adding A New Request </h3>     
      </center>
    </header>
    <% else %>
    <header>
      <center>
        <h2>Requests</h2>  

    <header class="filter_field">
      <center>
        <%= form_tag requests_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], id: 'requests_search',placeholder: "What city are you looking for?" %><br>
        <%= submit_tag "Search", :name => nil %>

      </center>
    </header>
    <% end %>
        <br>
        <br>
        <h3>Sorry! No Requests Found for "<%= @search %>"! <br>Try Adding More Friends or Adding A New Request</h3>
      </center>
    </header>

    <% end %>
  </section>

  <%= render 'requests/requests_feed' %>
</div>

<br />

