
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

  <title>Im' In</title>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag "landing_page" %>
  <%= javascript_include_tag 'landing_page' %>
  <%= javascript_include_tag 'chat' %>
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'jquery.poptrox.min' %>
  <%= csrf_meta_tags %>

  <!-- shiv here -->

</head>


<body class="landing_page is-loading">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <section id="main">

      <h2>Sign in</h2>

      
      <%= devise_error_messages! %>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div>
        <%= f.label :username %>
        <%= f.text_field :username, :autofocus => true %>
      </div>

      <div><%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div><br>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      </div><br>
      <% end -%>

      <div>
        <%= f.submit "Sign in" %>
      </div>
      <% end %>

      <hr />
      <%= render "devise/shared/links" %>
      <br>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <ul class="copyright">
        <li>&copy; Apostell</li>
        <!-- <li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
      </ul>
    </footer>

  </div>

  <!-- Scripts -->
  <!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
  <script>
  if ('addEventListener' in window) {
    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
  }
  </script>

</body>