<% content_for :landing_page do %>
<head>
  <%= stylesheet_link_tag "landing_page" %>
  <%= javascript_include_tag 'landing_page' %>
</head>

<body class="landing_page is-loading">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <section id="main">
      <header>
        <span class="avatar"><%= image_tag("joel.jpg") %></span>
        <h1 class="name">Jane Doe</h1>
        <p class="program">Senior Psychonautics Engineer</p>
      </header>

      <hr />
      <h2>Sign in</h2>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div>
        <%= f.label :username %>
        <%= f.text_field :username, :autofocus => true %>
      </div>

      <div><%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      </div>
      <% end -%>

      <div>
        <%= f.submit "Sign in" %>
      </div>
      <% end %>

      <hr />

      <%= render "devise/shared/links" %>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <ul class="copyright">
        <li>&copy; Jane Doe</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </footer>

  </div>

  <!-- Scripts -->
  <!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
  <script>
  if ('addEventListener' in window) {
    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
  }
  </script>

</body>
<% end %>