
<%= stylesheet_link_tag 'main' %>
<!-- Header -->
<header id="header">
  <h1><a href="<%= root_path %>">Apostell</a></h1>
  <!-- <h1><a href="<%= root_path %>"><%=image_tag("logo.png")%></a></h1> -->
  <nav class="links">
    <ul>
      <li><a href="<%= created_flights_path(user_id: current_user.id) %>">Trips </a></li>
      <li><a href="<%= created_requests_path(user_id: current_user.id) %>">Requests </a></li>
      <li><a href="<%= conversations_path %>">Inbox <span class="badge"><%= current_user.unread_conversations.count if 
              current_user.unread_conversations.count > 0%></span>
          </a>
      </li>

      <li><a href="<%= users_path %>">Friends <span class="badge"><%= current_user.friend_requests.count if 
              current_user.friend_requests.count > 0%></span>
          </a>
      </li>
    </ul>
  </nav>
  <nav class="main">
    <ul>
          <!--       <li class="search">
                  <a class="fa-search" href="#search">Search</a>
                  <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                  </form>
                </li> -->
                <li class="menu_button">
                  <a class="fa-bars" href="#menu">Menu</a>
                </li>
              </ul>
            </nav>
          </header>

          <!-- Menu -->
          <section id="menu" hidden>

            <!-- Search -->
<!--               <section>
                <form class="search" method="get" action="#">
                  <input type="text" name="query" placeholder="Search" />
                </form>
              </section> -->

              <!-- Links -->
              <section>
                <ul class="links">

                  <% if current_user.provider == "facebook" %>
                  
                  <li>
                    <%= image_tag(current_user.avatar) %>
                    <br><%= current_user.full_name %>
                  </li>

                  <% else %>

                  <li>
                    <a href="<%= edit_user_registration_path(current_user) %>">
                      <%= image_tag(current_user.avatar) %>
                      <br><%= current_user.full_name %>
                    </a>
                  </li>

                  <% end %>

  <!--                <li><a href="<%= flights_path %>"><h3>All Trips</h3></a></li> -->

                  <li><a href="<%= created_flights_path(user_id: current_user.id) %>"><h3>My Trips</h3></a></li>

  <!--                <li><a href="<%= requests_path %>"><h3>All Requests</h3></a></li> -->
                  <li><a href="<%= created_requests_path(user_id: current_user.id) %>"><h3>My Requests</h3></a></li>

                  <li><a href="<%= conversations_path %>">
                    <h3>Inbox
                        <% if current_user.unread_conversations.count > 0 %>
                      <span class="badge">
                      <%= current_user.unread_conversations.count %>
                      </span>
                      <% end %>
                    </h3>
                      </a>
                  </li>

                  <li><a href="<%= users_path %>">
                    <h3>Friends
                       <% if current_user.friend_requests.count > 0 %>
                      <span class="badge">
                        <%= current_user.friend_requests.count %>
                      </span>
                        <% end %>
                    </h3>
                  </a>
                  </li>
                </ul>
              </section>

              <!-- Actions -->
              <section>
                <ul class="actions vertical">
                  <li><a class="button small fit", id="close_menu" >Close Menu</a></li>
                  <li><a href="<%= destroy_user_session_path %>" class="button small fit", method="delete">Log Out</a></li>
                </ul>
              </section>

            </section>
