<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

  <title>Im' In</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag :application %>
  <%= javascript_include_tag 'chat' %>
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'jquery.poptrox.min' %>
  <%= csrf_meta_tags %>

  <!-- shiv here -->

</head>

<% if not user_signed_in? and current_page?(root_url)%>
  <%= stylesheet_link_tag "landing_page" %>
  <%= javascript_include_tag 'landing_page' %>

<body class="landing_page is-loading">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <section id="main">
      <header>
            <h2>One App.<h2>
            <h2>A Thousand Connections. </h2><br>
        <span class="avatar"><%= image_tag("joel.jpg") %></span>
        <h1 class="name">Jane Doe</h1>
        <p class="program">Senior Psychonautics Engineer</p>
      </header>
            <hr />
              <ul class="actions">
                <li><a href="/users/sign_in" class="button">Already A User</a></li>
              </ul>
              <ul class="actions">
                <li><a href="/users/sign_up" class="button">Sign Me Up!</a></li>
              </ul>

    </section>

    <!-- Footer -->
    <footer id="footer">
      <ul class="copyright">
        <li>&copy; Jane Doe</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </footer>

  </div>

  <!-- Scripts -->
  <!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
  <script>
  if ('addEventListener' in window) {
    window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
    document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
  }
  </script>

</body>
<% else %>

<%= yield %>
<% end %>
<div class="container">
  <!-- flash messages here -->
</div>

</html>