<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <meta name="format-detection" content="telephone=no">

  <title>Zoya</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <%= stylesheet_link_tag 'font-awesome' %>
      <%= javascript_include_tag 'jquery'%>
      <%= javascript_include_tag 'main'%>
      <%= javascript_include_tag 'skel'%>
      <%= javascript_include_tag 'util'%>
      <%= javascript_include_tag 'jquery.scrollex.min'%>
      <%= javascript_include_tag 'jquery.scrolly.min'%>
      <%= javascript_include_tag 'respond.min'%>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
</script><!-- only if you need custom infoboxes -->

  <%= csrf_meta_tags %>

  <!-- shiv here -->
<%= favicon_link_tag 'favicon-32x32.ico' %>
</head>

<% if not user_signed_in? and current_page?(root_url) %>
<%= stylesheet_link_tag "landing_page2" %>
<%= javascript_include_tag 'landing_page2' %>

  <body class="landing">
    <!-- <div class="corner-ribbon top-left sticky red shadow">Closed Beta</div> -->
    <div id="page-wrapper">


      <!-- Banner -->
        <section id="banner">
          <h1 class="title">Bienvenu chez Zoya.</h1>
          <p>Trouvez votre transport en ville à la minute.</p>
          <ul class="actions">
<!--            <li><%= link_to "Login With Facebook", user_omniauth_authorize_path(:facebook), class:"button special icon fa-facebook " %></li> -->
            <li><a href="#features" class="button">En Savoir Plus</a></li>
            <li><a href="#cta" class="button">Nous Contacter</a></li>
          </ul> 
        </section>

      <!-- Main -->
        <section id="main" class="container">

          <section class="box special">
            <header class="major">
              <h2>Trouver du transport et se déplacer en ville ne devrait pas être une tâche difficile pour vous.</h2>
              <p>Grâce à Zoya, trouvez facilement des chauffeurs et déplacez vous en toute tranquilité.</p>
            </header>
            <span class="image featured"><%= image_tag("gps.jpg") %></span>
          </section>

          <section class="box special features" id="features">
            <div class="features-row">
              <section>
                <span class="icon major fa-send-o accent2"></span>
                <h3>Vous voulez vous déplacer?</h3>
                <p>N'attendez plus votre taxi sous la pluie, ou sous le soleil frappant avec une foule de monde.</p>
              </section>
              <section>
                <span class="icon major fa-search accent3"></span>
                <h3>Ouvrez l'application mobile</h3>
                <p>Plus besoin d'arrêter des taxis en route, nos chauffeurs voient exactement où vous êtes. Tapez simplement où vous allez.</p>
              </section>
            </div>
            <div class="features-row">
              <section>
                <span class="icon major fa-plane accent5"></span>
                <h3>Confirmez votre commande</h3>
                <p>L'application vous donne le prix de votre course à l'avance, donc pas de mauvaise surprise.</p>
              </section>
              <section>
                <span class="icon major fa-envelope-o accent4"></span>
                <h3>Prenez place à bord</h3>
                <p>Confirmez votre commande et votre chauffeur est en route. Prenez place et voyagez en toute tranquilité.</p>
              </section>
            </div>
          </section>

        </section>

      <!-- CTA -->
        <section id="cta">

          <h2>Les services de Zoya vous intéressent?</h2>
          <p>Si vous disposez de véhicules et souhaitez accroître vos revenus, n'hésitez pas à nous contacter.</p>
          <p style="color: black"> contact@tozoya.com &#124; +243 347 22 30 </p>
          <p>Nous sommes également ouverts à toutes remarques, suggestions ou demandes d'information.</p>
<!--          <ul class="actions">
            <li><%= link_to "Login With Facebook", user_omniauth_authorize_path(:facebook), class:"button icon fa-facebook " %></li>
          </ul>  -->


        </section>

      <!-- Footer -->
        <footer id="footer">
          <ul class="icons">
            <li><a href="https://facebook.com/bazoya" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; Zoya. Tous droits réservés.</li>
          </ul>
        </footer>

    </div>


  </body>

  <% elsif not user_signed_in? %>
  <%= stylesheet_link_tag "landing_page2" %>
  <%= javascript_include_tag 'landing_page2' %>
  <%= yield %>

  <% else %>
<body>

<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1051690404882304";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

  <%= stylesheet_link_tag 'main' %>
  <!-- NAVBAR -->

      <div id="wrapper">
        <div id="main">
<%= render "layouts/navbar" %>

  <!-- END NAVBAR -->
  <%= yield %>
        </div>
      </div>
</body>
  <% end %>
  <div class="container">
    <!-- flash messages here -->
  </div>

  </html>
