<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

  <title>Im' In</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
 </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
</script><!-- only if you need custom infoboxes -->

  <%= csrf_meta_tags %>

  <!-- shiv here -->

</head>

<% if not user_signed_in? and current_page?(root_url) %>
<%= stylesheet_link_tag "landing_page" %>
<%= javascript_include_tag 'landing_page' %>

<body class="landing_page is-loading">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <section id="main">
      <header>
        <h2>One App.<h2>
          <h2>A Thousand Connections. </h2><br>
          <span class="avatar"><%= image_tag("joel.jpg") %></span>
          <h1 class="name">Jane Doe</h1>
          <p class="program">Senior Psychonautics Engineer</p>
        </header>
        <hr />
        <ul class="actions">
          <li><a href="/users/sign_in" class="button">Already A User</a></li>
        </ul>
        <ul class="actions">
          <li><a href="/users/sign_up" class="button">Sign Me Up!</a></li>
        </ul>

      </section>

      <!-- Footer -->
      <footer id="footer">
        <ul class="copyright">
          <li>&copy; Apostell</li>
          <!-- <li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
        </ul>
      </footer>

    </div>

    <!-- Scripts -->
    <!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
    <script>
    if ('addEventListener' in window) {
      window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
      document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
    </script>

  </body>
  <% elsif not user_signed_in? %>
  <%= stylesheet_link_tag "landing_page" %>
  <%= javascript_include_tag 'landing_page' %>
  <%= yield %>

  <% else %>

  <!-- NAVBAR -->

<%= render "layouts/navbar" %>

  <!-- END NAVBAR -->
  <%= yield %>
  <% end %>
  <div class="container">
    <!-- flash messages here -->
  </div>

  </html>