<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

  <title>Apostell</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <%= stylesheet_link_tag 'font-awesome' %>
      <%= javascript_include_tag 'jquery'%>
      <%= javascript_include_tag 'skel'%>
      <%= javascript_include_tag 'util'%>
      <%= javascript_include_tag 'main'%>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
</script><!-- only if you need custom infoboxes -->


  <%= csrf_meta_tags %>

  <!-- shiv here -->
<%= favicon_link_tag 'favicon-32x32.ico' %>
</head>

<% if not user_signed_in? and current_page?(root_url) %>
<%= stylesheet_link_tag "landing_page" %>
<%= javascript_include_tag 'landing_page' %>

<body class="landing_page is-loading" id="body_paris2">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <section id="main">
      <header>
        <h3>One Community.<h3>
          <h3>One Million Shipping Destinations. </h3>
          <span class="avatar"><%= image_tag("logo.png") %></span>
          <!-- 
          <h1 class="name">Jane Doe</h1>
          <p class="program">Senior Psychonautics Engineer</p> -->
        </header>

        <hr />

        <ul class="actions">
          <li class="button icon fa-facebook"><%= link_to "Use Your Facebook Details", user_omniauth_authorize_path(:facebook) %></li>
        </ul>
<!-- 
        <ul class="actions">
          <li><a href="/users/sign_in" class="button">Sign In Through Apostell</a></li>
        </ul>

        <ul class="actions">
          <li><a href="/users/sign_up" class="button">Sign Me Up!</a></li>
        </ul> -->

      </section>

      <!-- Footer -->
      <footer id="footer">
        <ul class="copyright">
          <li>&copy; Apostell</li>
          <!-- <li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
        </ul>
      </footer>

    </div>

    <!-- Scripts -->
    <!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
    <script>
    if ('addEventListener' in window) {
      window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
      document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
    </script>

  </body>
  <% elsif not user_signed_in? %>
  <%= stylesheet_link_tag "landing_page" %>
  <%= javascript_include_tag 'landing_page' %>
  <%= yield %>

  <% else %>
<body>

<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1051690404882304";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

  <%= stylesheet_link_tag 'main' %>
  <!-- NAVBAR -->

      <div id="wrapper">
        <div id="main">
<%= render "layouts/navbar" %>

  <!-- END NAVBAR -->
  <%= yield %>
        </div>
      </div>
</body>
  <% end %>
  <div class="container">
    <!-- flash messages here -->
  </div>

  </html>