<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

  <title>Apostell</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <%= stylesheet_link_tag 'font-awesome' %>
      <%= javascript_include_tag 'jquery'%>
      <%= javascript_include_tag 'main'%>
      <%= javascript_include_tag 'skel'%>
      <%= javascript_include_tag 'util'%>
      <%= javascript_include_tag 'jquery.scrollex.min'%>
      <%= javascript_include_tag 'jquery.scrolly.min'%>
      <%= javascript_include_tag 'respond.min'%>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
</script><!-- only if you need custom infoboxes -->

  <%= csrf_meta_tags %>

  <!-- shiv here -->
<%= favicon_link_tag 'favicon-32x32.ico' %>
</head>

<% if not user_signed_in? and current_page?(root_url) %>
<%= stylesheet_link_tag "landing_page2" %>
<%= javascript_include_tag 'landing_page2' %>

  <body class="landing">
    <div id="page-wrapper">


      <!-- Banner -->
        <section id="banner">
          <h2>Apostell</h2>
          <p>One Community<br>
          One Million Shipping Destinations</p>
          <ul class="actions">
            <li><%= button_to "Login With Facebook", user_omniauth_authorize_path(:facebook), class:"button special icon fa-facebook" %></li>
            <li><a href="#main" class="button">Learn More</a></li>
          </ul>
        </section>

      <!-- Main -->
        <section id="main" class="container">

          <section class="box special">
            <header class="major">
              <h2>How It Works</h2>
            </header>
          </section>

          <section class="box special features">
            <div class="features-row">
              <section>
                <span class="icon major fa-send-o accent2"></span>
                <h3>Need To Send A Package?</h3>
                <p>Need to send something across the globe but want to avoid high shipping fees?
                  Want to ship something to a destination where shipping may be non-existent?</p>
              </section>
              <section>
                <span class="icon major fa-search accent3"></span>
                <h3>Find travelling friends</h3>
                <p>Friends or, friends of friends are constantly travelling and probably even heading to the destination you need to send your package to.</p>
              </section>
            </div>
            <div class="features-row">
              <section>
                <span class="icon major fa-envelope-o accent4"></span>
                <h3>Connect</h3>
                <p>Get in touch with them and make arrangements to get your package delivered to where it needs to be.</p>
              </section>
              <section>
                <span class="icon major fa-plane accent5"></span>
                <h3>...You Can Also Make Requests</h3>
                <p>Apostell also allows you to post requests for others to help you out if they happen to be heading to, or leaving from the location you'd like your item to be delivered to, or picked up from. </p>
              </section>
            </div>
          </section>

        </section>

      <!-- CTA -->
        <section id="cta">

          <h2>Interested?</h2>
          <p>No Sign Up Needed! Just Log In Easily With Facebook</p>
          <ul class="actions">
            <li><%= button_to "Login With Facebook", user_omniauth_authorize_path(:facebook), class:"button icon fa-facebook" %></li>
          </ul>


        </section>

      <!-- Footer -->
        <footer id="footer">
          <ul class="icons">
            <li><a href="https://www.facebook.com/apostellofficial" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="mailto:support@apostell.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
          </ul>
          <ul class="copyright">
            <li>&copy; Apostell. All rights reserved.</li>
          </ul>
        </footer>

    </div>


  </body>

  <% elsif not user_signed_in? %>
  <%= stylesheet_link_tag "landing_page2" %>
  <%= javascript_include_tag 'landing_page2' %>
  <%= yield %>

  <% else %>
<body>

<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1051690404882304";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

  <%= stylesheet_link_tag 'main' %>
  <!-- NAVBAR -->

      <div id="wrapper">
        <div id="main">
<%= render "layouts/navbar" %>

  <!-- END NAVBAR -->
  <%= yield %>
        </div>
      </div>
</body>
  <% end %>
  <div class="container">
    <!-- flash messages here -->
  </div>

  </html>